<html lang="en">
    <%- include('./partials/head.ejs') %>
        <body>
          <%- include('./partials/nav.ejs') %>
        
              <div class="subHeader">
                <form id="form" action="/teachers-submit" method="POST">
                <input name="idnumber" type="number" placeholder="IDNumber" >
                    <input name="marks" type="number" placeholder="Marks" >
                    <input type="submit">
                </form>
                <form id="form" action="/teachers-email" method="POST">
                <input name="email" type="email" placeholder="Email" >
                    
                <input type="submit" value="Send">
                </form>
                    
              </div>
        
              <div class="submittedList">
                  <table>
                      
                      <tr><th>ID Number</th><th>Marks</th></tr> 

                      <% vivaSystem.forEach(viva => { %>
                          <tr>
                          <td><%= viva.idNumber %></td><td><%= viva.Marks %></td> 
                          <td>
                          <button data-id="<%= viva._id %>"  class="edit">Edit</button></td>
                          <td><button data-id="<%= viva._id %>"  class="delete">Delete</button></td>
                          </tr>`
                       
                      <% }) %>

                   
                    
        
                </table>
              </div>
              <script type="text/javascript" src="https://unpkg.com/axios@0.21.4/dist/axios.min.js"></script>
              <script  src="browser_file_teachers.js"></script>

        </body>
        </html>