<html lang="en">
    <%- include('./partials/head.ejs') %>
        <body>
          <%- include('./partials/nav.ejs') %>
        
              <div class="subHeader">
                <form id="form-teacher">
                <input name="idnumber" type="number" placeholder="IDNumber" id="idnumber">
                    <input name="marks" type="number" placeholder="Marks" id="marks">
                    <input type="submit">
                </form>
                <form id="form-email">
                <input name="email" id="email-field" placeholder="Email" type="email" >
                    
                <input type="submit" value="Send" class="sendMail" id="email-button">
                </form>
                    
              </div>
              
              <div class="alert2" id="email-alert">
                
                
                </div> 
              
              <div class="submittedList">
                  
                <table id="student-table"> 
                  <tr><th>ID Number</th><th>Marks</th></tr> 
                  <% if(vivaSystem == 'empty_db'){ %>
                    <tr id="student-data">Your inserted data will go here</tr>
                    <% } else { %>
                  <% vivaSystem.forEach(viva => { %>
                    <tr id="student-data">
                      
                      <td class="idText"><%= viva.idNumber %></td><td class="marksText"><%= viva.Marks %></td> 
                          <td>
                          <button data-id="<%= viva._id %>"  class="edit">Edit</button></td>
                          <td><button data-id="<%= viva._id %>"  class="delete">Delete</button></td>
                        
                          </tr>              
                      <% }) %>  
                      <% } %>
                    </table>
              </div>
              <script type="text/javascript" src="/axios.min.js"></script>
              <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
              <script  src="browser_file_teachers.js"></script>

        </body>
        </html>